body{
  background-color: #eadece;
  color: #343434;
}
*{
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  border: 2px solid #8E8B82;
  background-color: #F3F3F3;
  color: #343434;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*input[type=submit]:hover {
  
}*/

.container {
  border-radius: 5px;
  background-color: #E9DCBE;
  padding: 20px;
}